<link rel="stylesheet" href="styles/styleForm.css">
<script defer src="script/write.js"></script>
<div class="container">

  <div class="profile">

    <div class="profile-photo"></div>

    <div class="profile-info">
      <h2 class="heading heading-light">Profile</h2>
      <p class="profile-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      </p>

      <ul class="profile-text">
        <li>Lorem ipsum dolor sit amet,</li>
        <li>consectetur adipiscing elit, sed do eiusmod</li>
        <li>Ut enim ad minim veniam, quis nostrud exercitation</li>
        <li>aute irure dolor in r.</li>
      </ul>



      <p class="profile-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>



      <div class="contacts">

        <div class="contacts-item">
          <h3 class="contats-title">
            <i class="fas fa-phone-volume"></i>
            Phone</h3>
          <a href="tel:+79103166985" class="contacts-text">+7(910)316-69-85</a>
        </div>

        <div class="contacts-item">
          <h3 class="contats-title">
            <i class="fas fa-envelope"></i>
            Email</h3>
          <a href="schennikova.ev@gmail.com" class="contacts-text">schennikova.ev@gmail.com</a>

        </div>

        <div class="contacts-item">

          <h3 class="contats-title">
            <i class="fas fa-globe"></i>
            Web</h3>
          <a href="site" class="contacts-text">site</a>
        </div>
        <div class="contacts-item">
          <h3 class="contats-title">
            <i class="fas fa-map-marker-alt"></i>
            Home</h3>
          <address class="contacts-text">Saint-Petersburg</address>
        </div>
        <h2 class="heading-light">Languages</h2>
        <div class="languages">

          <div class="language"><span class="language-text">English</span> <strong class="languages-per">60%</strong>
          </div>

          <div class="language"><span class="language-text">Russian</span> <strong class="languages-per">100%</strong>
          </div>

          <div class="language"><span class="language-text">Ukrainian</span> <strong class="languages-per">90%</strong>
          </div>
          <div class="lines">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </div>

      </div>
    </div>

  </div>






  <div class="resume">

    <div class="resume-wrap">
      <div class="logo">
        <div class="logo-lines logo-lines_left">
          <span class="logo-line"></span>
          <span class="logo-line"></span>
          <span class="logo-line"></span>
        </div>
        <div class="logo-img">Evgeniya</div>
        <div class="logo-lines logo-lines_right">
          <span class="logo-line"></span>
          <span class="logo-line"></span>
          <span class="logo-line"></span>
        </div>
      </div>

      <div class="about">

        <h1 class="name">Evgeniya Schennikova </h1>
        <span class="position">Web Developer / Frontend Developer</span>
        <address class="about address">Saint-Petersburg</address>

        <div class="about-contacts">
          <a class="about-contacts__link" href="tel:+79103166985"> <b>tel:</b>+7(910)316-69-85</a>|

          <a class="about-contacts__link" href="schennikova.ev@gmail.com"><b>e-mail:</b>
            schennikova.ev@gmail.com</a>
          <a class="about-contacts__link" href="#"><b>www: </b>site</a>|
        </div>
      </div>


      <div class="experience">

        <h2 class="heading heading_dark">Experience</h2>
        <ul class="list">
          <li class="list-item">
            <h4 class="list-item_title">"BSV-STUDIO",<i> Web-studio in Kursk</i></h4>
            <p class="list-item_text">"Create Web sites"</p>
            <p class="list-item_text"> "Html5, Css3"</p>
            <p class="list-item_text"> "Practice with SEO"</p>
            <p class="list-item_text"> "Website content creation"</p>
            <p class="list-item_text"> "Work with popular CMS System"</p>
            <p class="list-item_text"> "Good practice in Web"</p>
          </li>

          <li class="list-item">
            <h4 class="list-item_title">Elbrus Cooding Bootcamp, <i>St.Petersburg</i></h4>
            <p class="list-item_text">"Html5, Css3"</p>
            <p class="list-item_text">"Javascript ECMAScript 6"</p>
            <p class="list-item_text">"Work with Back-End at Node.js + Express.js"</p>
            <p class="list-item_text">"Work Front-End with React.js"</p>
            <p class="list-item_text">"Teamwork (Git, Agile)"</p>
          </li>


        </ul>
      </div>

      <div class="education">
        <h2 class="heading heading_dark">Education</h2>
        <ul class="list">
          <li class="list-item list-item_non-border">
            <h4 class="list-item_title"> Академия Шаг - Санкт - Петербург</h4>

            <p class="list-item_text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
            <p class="list-item_text">- do eiusmod tempor incididunt ut labore et dolore magna </p>
            <p class="list-item_text">- aliqua. Ut enim ad minim veniam, quis nostrud exercitation  </p>
            <p class="list-item_text">- ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis</p>
            <p class="list-item_text">-aute irure dolor in reprehenderit in voluptate velit esse </p>
            <p class="list-item_text">- aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="list-item_text">-do eiusmod tempor incididunt ut labore et dolore magna</p>
            <p class="list-item_text">- do eiusmod tempor incididunt ut labore et dolore magna</p>

          </li>
        </ul>
      </div>


      <div class="skills">
        <h2 class="heading heading_dark heading_skills">Skills</h2>


        <ul class="skills-list">

          <li class="skills-list_item">Figma
            <div class="level level-80"></div>
          </li>

          <li class="skills-list_item">HTML
            <div class="level level-90"></div>
          </li>

          <li class="skills-list_item"> CSS
            <div class="level level-90"></div>
          </li>

          <li class="skills-list_item"> Java Script
            <div class="level level-20"></div>
          </li>

          <li class="skills-list_item">Photoshop
            <div class="level level-50"></div>
          </li>



        </ul>
      </div>

      <div class="formRedirect">
        <h2 class="heading heading_dark heading_skills">Write me</h2>

        <span class="position">Web Developer / Frontend Developer</span>


        <div class="about-contacts">
          <form action="/" class="contact-form" method="POST" onsubmit="return submitEmailForm(this);">
            <div>
              <input type="text" name="name" placeholder="name" class="contact-form-input" required />
            </div>
            <div>
              <input type="email" name="email" placeholder="email" class="contact-form-input" required />
            </div>
            <div>
              <textarea name="message" class="contact-form-input" placeholder="MESSAGE" required></textarea>
            </div>
            <div>
              <button type="submit">Отправить</button>
            </div>
          </form>
        </div>
          <a href="https://github.com/schennikova">посмотреть мои проекты</a> 



      </div>


    </div>
  </div>
</div>
